body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-image: linear-gradient(beige, rgb(191, 185, 185), beige);
}

.altura {}

.dosJuntos {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.colc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantalla {
    width: 70em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: rgb(60, 60, 60);
    border-radius: 2em;
}

.tvDiseno {}

#screen {
    width: 70em;
    height: 34em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

}

.tvDisenoMarkCenterLeft {
    width: 3em;
    height: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
}

.tvDisenoUp {

    width: 64em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: absolute;


}

.tvDisenoMarkCenterRight {
    width: 3em;
    height: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
    
}

#hora {
    color: chartreuse;
    font-size: medium;
}

#date {
    color: chartreuse;
    font-size: medium;

}

#canal {
    color: chartreuse;
    font-size: medium;
}

#source {

    color: chartreuse;
    margin-left: 0.5em;
    font-size: x-large;

}

.tvDisenoMarkUp {
    width: 70em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
    border-radius: 2em 2em 0em 0em;
}



.tvDisenoDown {

    width: 70em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;

}

.tvDisenoMarkUpLeft {

    width: 3em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
}

.tvDisenoMarkUpRight {

    width: 3em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;

}

.tvDisenoMarkUpRight {

    width: 3em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;

}

.scrennUpLeft {

    width: 40em;
    height: 4em;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: content-box;
}

.scrennUpCenterLeft {

    width: 10em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.scrennUpCenterRight {

    width: 10em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.tvReproducir {
    width: 64em;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: content-box;
    position: relative;
}

#myvideo {
    position: absolute;
    z-index: -1;
}



.scrennUpRight {

    width: 10em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: content-box;

}

.scrennDownLeft {

    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
    border-radius:0em 0em 0em 2em;
}

.scrennDownCenter {

    width: 60em;
    height: 3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
}

.scrennDownRight {

    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
    border-radius:0em 0em 2em 0em;
}

.ledEstadoOff {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 3em;
    background-color: rgb(255, 0, 0);
}

.ledEstadoOn {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 3em;
    background-color: rgb(3, 255, 66);

}

.tvColor {
    background-color: black;
}

.mandoDiseno {
    background-image: linear-gradient(to right, rgb(75, 75, 76), rgb(39, 39, 38), rgb(76, 74, 74));
    width: 10em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin-top: 2em;
    margin-left: 5em;
    border-radius: 1em;
}

.mandoUp {
    width: 10em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.mandoMidUp {
    width: 10em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.mandoMidDown {
    width: 10em;
    height: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.mandoDown {
    width: 10em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.botonPower {
    width: 3.3em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonSrc {
    width: 3.3em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: black;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.2s;
}

.espaciadorUp {
    width: 3.3em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesVol {
    width: 3.3em;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesMidUpColocador {
    width: 3.3em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

.botonesChan {
    width: 3.3em;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonesUp {
    background-color: black;
    color: white;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: aqua;
}

.botonChan {
    background-color: black;
    color: white;
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
}

.botonChanEspacio {

    color: white;
    font-weight: bold;
    width: 2em;
    height: 1.4em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonChanMenos {
    background-color: black;
    color: white;
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonVol {
    background-color: black;
    color: white;
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
}

.botonVolEspacio {

    color: white;
    width: 2em;
    height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonVolMenos {
    background-color: black;
    color: white;
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonLive {
    width: 5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonSmart {
    width: 5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesNumUp {
    width: 10em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesNumMid {
    width: 10em;
    height: 3.3em;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesNumDown {
    width: 10em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum1 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum2 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum3 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum4 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum5 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum6 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum7 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum8 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonNum9 {
    width: 3.3em;
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.botonesRectangulo {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-size: x-small;

}

.button {
    background-color: black;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
}

.canalP {
    transition: 3s;
    background-color: rgb(60, 60, 60);
}

.basicScreen {
    transition: 3s;
    background-color: black;
}

.canalS1 {
    background-color: black;
}

.canalS2 {
    background-color: black;
}


.canal+ {
    background-color: black;
}

.canal- {
    background-color: black;
}

.canalU {
    background-color: black;
}

.canalD {
    background-color: black;
}

.canalL {
    background-color: black;
}

.canalR {
    background-color: black;
}

.canal1 {

    background-color: black;
}

.canal2 {
    background-color: black;
}

.canal3 {
    background-color: black;
}

.canal4 {
    background-color: black;
}

.canal5 {
    background-color: black;
}

.canal6 {
    background-color: black;
}

.canal7 {
    background-color: black;
}

.canal8 {
    background-color: black;
}

.canal9 {
    background-color: black;
}


.pushable {
    background: hsl(0, 0%, 37%);
    margin-left: 0.4em;
    border-radius: 6px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 1px 1px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(0, 0%, 9%);
    color: white;
    font-size: bold;
    transform: translateY(-5px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.pushableP {
    background: hsl(0, 0%, 37%);
    margin-left: 0.4em;
    border-radius: 100px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.frontP {
    display: block;
    padding: 1px 1px;
    border-radius: 100px;
    font-size: 1.25rem;
    background: hsl(0, 91%, 50%);
    color: white;
    font-size: bold;
    transform: translateY(-6px);
}

.pushableP:active .frontP {
    transform: translateY(-2px);
}